@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

/* Font,  Link & Container */
body { font:12px/1.6 arial,helvetica,sans-serif; }
a:link, 
a:visited,
a:hover,
a:active { color:#c35d0e;text-decoration:none; }
textarea { resize:none; }
button { cursor:pointer;line-height:1.2; }
a img { vertical-align:text-bottom; }
.mod { width:100%; }
.hd:after, .bd:after, .ft:after, .mod:after {content:'\0020';display:block;clear:both;height:0; }
.bn-close { margin-left:2em; }
a.bn-close:link, a.bn-close:visited, a.bn-close:hover, a.bn-close:active { color:#aaa;font-size:9px;padding:0 2px; }
a.bn-close:hover, a.bn-close:active { background:#f10;color:#fff;border:2px solid #f00; }
.hide { position:absolute;visibility:hidden;left:-1000em;top:-1000em; }
.clear { display:block;clear:both; }

/* buttons */
.lnk-flat,
.bn-flat {margin:0 5px;display:-moz-inline-box;display:inline-block;border-width:1px;border-style:solid;border-color:#d9d9d9 #ccc #c9c9c9;*display:inline;*zoom:1;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;overflow:hidden;vertical-align:middle; }
.bn-flat:hover,
a.lnk-flat:hover { border-color: #c9c9c9; }
.lnk-flat,
.bn-flat input { border:none;height:25px;padding:0 14px;color:#333;background:transparent\9;outline:none;font-size:12px;*padding:3px 8px 0;margin:0 !important;cursor:pointer;-webkit-appearance:none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background-image: -moz-linear-gradient(-90deg, #ffffff 50%, #e9e8e8 100%); background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0.5, #ffffff), color-stop(1, #e9e8e8)); }
a.lnk-flat:hover,
a.lnk-flat:active,
.bn-flat input:hover,
.bn-flat-over input{ color:#333 !important;background-color:transparent !important;background-position: 1px -706px\9; background-image: -moz-linear-gradient(-90deg, #f5f5f5 40%, #dedede 100%); background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0.4, #f5f5f5), color-stop(1, #dedede)); }
a.lnk-flat:active,
.bn-flat input:active,
.bn-flat-active input{ background:#ebebeb !important; }

.lnk-flat { height:24px;padding:0 8px;line-height:24px;border:1px solid #d9d9d9; }
a.lnk-flat:link,
a.lnk-flat:visited { color:#333;background:transparent\9; }
a.lnk-flat:hover { color:#333;background-position: 0 -701px\9; }
a.lnk-flat:active { color:#333;background:#ebebeb; }

/* dialog rules. */
.dui-dialog { position:fixed;_position:absolute;z-index:6000; }
.dui-dialog .dui-dialog-content {position:relative;z-index:2;background:#fff;*zoom:1; }
.dui-dialog .notitle {padding:10px 0;}
.dui-dialog-hd {height:20px;padding:10px 0 10px 25px;font-size:14px;background:#0C7823;}
.dui-dialog-hd h3 { padding:0 40px 0 0px;background:none;color:#fff; }
.dui-dialog-hd h3 i { color:#060;font-style:normal;margin-left:0.5ex; }
.dui-dialog-bd {overflow:hidden; position:relative; padding:20px 25px 15px 25px;*zoom:1;font-size:12px;}
.dui-dialog .notitle .dui-dialog-bd{padding:5px 20px;}
.dui-dialog-bd:after { content:'\0020';clear:both;display:block; }
.dui-dialog-ft .bn-flat,
.dui-dialog-ft input { margin:0 .5em; }
.dui-dialog-ft { text-align:center;padding:20px 25px;padding-top:0; }
.dui-dialog .dui-dialog-close { position:absolute;top:-12px;right:-12px; z-index:4; display:block;width:27px;height:28px; background:url(../pics/close.png); text-indent:-3000px;overflow:hidden; }
.dui-dialog .dui-dialog-shd { position:absolute;left:-6px;top:-6px;width:100%;height:100%;background:#666;opacity:.4;-moz-border-radius:5px;-webkit-border-radius:5px;border-raduis:5px; } 
.dui-dialog-content .loading { background:url(../pics/loading.gif) no-repeat center; height:70px; width:16px; margin:0 auto; }

.dui-dialog-panel { width:100%; height:100%; position:absolute; top:0;left:0; z-index:5; overflow:hidden; }
.dui-dialog-panel .shd { width:100%; height:100%; background:#ccc; opacity:0.5; }
.ie8 .dui-dialog-panel .shd,
.ie7 .dui-dialog-panel .shd,
.ie6 .dui-dialog-panel .shd { filter:alpha(opacity=50); }
.dui-dialog-panel .box { width:200px; background:#fffce4; position:absolute; top:0;left:0; -moz-box-shadow:0px 2px 8px #666;-webkit-box-shadow:0px 2px 8px #666;box-shadow:0px 2px 8px #666; }
.dui-dialog-panel .bd { padding:15px; text-align:center; }
.dui-dialog-panel .ft { text-align:center; margin:0 0 15px 0; }
.dui-dialog-panel .ft .bn-flat input { padding:0 10px; } 

.ie8 .dui-dialog .dui-dialog-shd,
.ie7 .dui-dialog .dui-dialog-shd,
.ie6 .dui-dialog .dui-dialog-shd { filter:alpha(opacity=40);zoom:1; }
.dui-dialog .dui-dialog-shd2 { position:absolute;left:0px;top:0px;width:100%;height:100%; box-shadow:1px 6px 36px rgba(0, 0, 0, 0.5);-moz-box-shadow:1px 6px 36px rgba(0, 0, 0, 0.5);-webkit-box-shadow:1px 6px 36px rgba(0, 0, 0, 0.5); -moz-border-radius: 2px; -webkit-border-radius: 2px;border-radius: 2px; }
.ie8 .dui-dialog .dui-dialog-shd2,
.ie7 .dui-dialog .dui-dialog-shd2, 
.ie6 .dui-dialog .dui-dialog-shd2 { background:#333; left:auto;top:auto; right:-8px; bottom:-8px; filter:alpha(opacity=40);zoom:1; }

.dui-dialog-iframe { border:0;background:transparent;position:absolute;z-index:1;left:-6px;top:-6px;opacity:0;}
.ie8 .dui-dialog-iframe,
.ie7 .dui-dialog-iframe,
.ie6 .dui-dialog-iframe { filter:alpha(opacity=0);zoom:1; }
.dui-dialog-iframebd { border:0; width:100%; }

#dui-mask {
    background:rgba(127, 127, 127, 0.5);
    background:-webkit-gradient(radial, 50% 50%, 250, 50% 50%, 800, from(rgba(127, 127, 127, 0.5)), to(rgba(0, 0, 0, 0.7)));
    background:-webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    background:-moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    background:-o-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    background:-ms-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
    z-index:5999;
}
.ie9 #dui-mask { background:#7F7F7F; opacity:.5; }
.ie8 #dui-mask,
.ie7 #dui-mask,
.ie6 #dui-mask { background:#7F7F7F; filter:alpha(opacity=50); }

.dui-dialog .bd .oz-scrollbar{right:8px;width:8px;}

/* scrollbar */
.oz-scrollbar{
    position:absolute;
    right:4px;
    top:0;
    background:#666;
    width:8px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;border-radius: 5px; 
    opacity:0.7;
}
.oz-scroll-top-shadow {
    position: absolute; top:0; left:0; width:100%; color:transparent; height:10px; opacity:0; z-index:1;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, .2)),to(transparent));
    -webkit-mask-box-image: -webkit-gradient(linear,left top,right top,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
    background-image: -moz-radial-gradient(top,ellipse farthest-side,rgba(0,0,0,.2),rgba(0,0,0,0));
}
.oz-scroll-bottom-shadow {
    position: absolute; bottom:0; left:0; width:100%; color:transparent; height:10px; opacity:0; z-index:1;
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(0, 0, 0, .2)),to(transparent));
    -webkit-mask-box-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0.0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,.8)),color-stop(1.0,rgba(0,0,0,0)));
    background-image: -moz-radial-gradient(bottom,ellipse farthest-side,rgba(0,0,0,.2),rgba(0,0,0,0))
}
::-webkit-scrollbar { height:9px; width:9px; }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment { background:transparent; display:none; }
::-webkit-scrollbar-track-piece { background:transparent; }
::-webkit-scrollbar-track-piece:vertical:start { border-top-left-radius:5px; border-top-right-radius:5px; border-bottom-right-radius:0; border-bottom-left-radius:0; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:0; }
::-webkit-scrollbar-track-piece:vertical:end { border-top-left-radius:0; border-top-right-radius:0; border-bottom-right-radius:5px; border-bottom-left-radius:5px; -webkit-border-top-left-radius:0; -webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-left-radius:5px; }
::-webkit-scrollbar-track-piece:horizontal:start { border-top-left-radius:5px; border-top-right-radius:0; border-bottom-right-radius:0; border-bottom-left-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:0; -webkit-border-bottom-left-radius:5px; }
::-webkit-scrollbar-track-piece:horizontal:end { border-top-left-radius:0; border-top-right-radius:5px; border-bottom-right-radius:5px; border-bottom-left-radius:0; -webkit-border-top-left-radius:0; -webkit-border-top-right-radius:5px; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-left-radius:0; }
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal { background:#999; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; display:block; height:50px; }


/* app */

html,body{
    height:100%;
    overflow:hidden;
}
.wrapper,
.loading{
    width:100%;
    height:100%;
}
.loading{
    position:absolute;
    left:0;top:0;
}

.dashboard{
    position:relative;
    height:100%;
    width:200px;
    float:left;
    text-align:center;
    border-right:5px solid #3B5343; 
    background: #313233; /* Old browsers */
    background: -moz-linear-gradient(left, #313233 61%, #232424 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(61%,#313233), color-stop(100%,#232424)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #313233 61%,#232424 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #313233 61%,#232424 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #313233 61%,#232424 100%); /* IE10+ */
    background: linear-gradient(left, #313233 61%,#232424 100%); /* W3C */
}
.dashboard h1{
    text-indent:-3000px;
    color:#fff;
    line-height:22px;
    font-size:18px;
    text-align:center;
    background:url(../pics/hunter.png) no-repeat center bottom;
    padding:0px 20px 125px 20px;
}
.playerbox .me{
    margin:0 20px 20px 20px;
    padding:0px 10px 30px 10px;
    border:3px solid #464646;
    background:#000;
    color:#fff;
    /*border-bottom-left-radius:100px;*/
    /*border-bottom-right-radius:100px;*/
    font-size:12px;
    position:relative;
    -moz-box-shadow:0 3px 6px #000;-webkit-box-shadow:0 3px 6px #000;box-shadow:0 3px 6px #000;
}
.playerbox .me .avatar{
    width:60px;
    padding:20px;
}
.playerbox .me .nick{
    display:block;
    margin-bottom:-45px;
    background:#414141;
    padding:5px 5px;
    widht:100%;
    -moz-box-shadow:0 3px 6px #000;-webkit-box-shadow:0 3px 6px #000;box-shadow:0 3px 6px #000;
}
.playerbox .status{
    margin:0 20px;
}
.playerbox label{
    display:block;
    width:50px;
    height:30px;
    line-height:30px;
    font-weight:bold;
    color:#fff;
    float:left;
    text-align:left;
    margin:10px 0 0 10px;
}
.playerbox .score{
    margin:10px 0 0 0;
    font-size:20px;
    height:24px;
    line-height:24px;
    width:90px;
    float:left;
    clear:left;
    text-align:center;
    border:3px solid #464646;
    background:#000;
    color:#fff;
    -moz-box-shadow:0 3px 6px #000;-webkit-box-shadow:0 3px 6px #000;box-shadow:0 3px 6px #000;
}
.playerbox strong .score{
    color:#090;
}
.playerbox em .score{
    color:#f00;
}
.playerbox .opt{
    clear:both;
    padding:30px 0 0 0;
}
.playerbox .bn-flat{
    margin:5px 5px;
    border:1px solid #666;
    -moz-box-shadow:0 0px 3px #000;-webkit-box-shadow:0 0px 3px #000;box-shadow:0 0px 3px #000;
}
.playerbox .bn-flat input{
    background:#414141;
    color:#fff;
}
.playerbox .bn-flat input:hover{
    background:#666!important;
    color:#fff!important;
}
.playerbox .admin{
    margin:0px 0 0 0;
    padding:10px 10px;
}
.playerbox .admin .bn-flat{
    border:1px solid #e00;
}
.playerbox .admin .bn-flat input{
    padding:0 5px;
    color:#e00;
}

.aside{
    position:relative;
    background:#E9F5E9;
    width:200px;
    height:100%;
    overflow-y:hidden;
    overflow-x:hidden;
    float:left;
    border:0px solid #0C7823;
    border-width:10px 0 10px 0;
    -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
}
.hall-list{
    width:400px;
    overflow:hidden;
}
.hall-list li{
    width:100%;
    float:left;
    overflow:hidden;
}
.hall-list li.admin .score{
    color:#090;
    font-weight:bold;
    font-size:16px;
}
.hall-list li a{
    width:100%;
    height:30px;
    line-height:30px;
    padding:5px;
    float:left;
    border-bottom:1px dashed #B3BBB3;
    color:#064513;
    /*-moz-transition-property: height;*/
    /*-moz-transition-duration: 0.4s;*/
    /*-webkit-transition-property: height;*/
    /*-webkit-transition-duration: 0.4s;*/
}
.hall-list li .avatar{
    height:30px;
    float:left;
    margin:0 5px 0 0;
}
.hall-list li a .nick{
    font-size:12px;
}
.hall-list li a .score{
    background:none;
    border:0;
    border-right:1px solid #B3BBB3;
    color:#000;
    padding:0 4px;
    height:28px;
    line-height:28px;
    width:40px;
    text-align:left;
    float:left;
    margin:0 8px 0 0;
}
.hall-list li a:hover{
    color:#0C7823;
}

.main{
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0 0 0 0px;
    border:0px solid #0C7823;
    border-width:10px 0 10px 0;
    -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
    -moz-box-shadow:inset 0 0 6px #666;-webkit-box-shadow:inset 0 0 6px #666;box-shadow:inset 0 0 6px #666;
}

.stream-list{

}
.stream-list li{
    padding:20px;
    border-bottom:1px dashed #B3BBB3;
}
.stream-list li .hd{
    background:#eee;
    font-size:14px;
    padding:10px 20px;
}
.stream-list li .meta{
    padding:5px 20px;
    overflow:hidden;
}
.stream-list li .meta span{
    margin:0 20px 0 0;
    float:left;
}
.stream-list li .meta span.score{
    color:#090;
}
.stream-list li .meta span.punish{
    color:#f00;
}
.stream-list li .meta span.date{
    float:right;
    margin:0 0 0 0;
    font-size:14px;
}
.stream-list li p.pic{
    text-align:center;
}
.stream-list li img.pic{
    border:1px dashed #ccc;
    background:#eee;
    padding:5px;
}
.stream-list li .quiz-pic{
    position:relative;
    display:inline-block;
}
.stream-list .quiz-mask{
    display:block;
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    text-align:center;
}
.stream-list p.pic .quiz-mask .quiz-locked{
    display:none;
}
.stream-list p.pic a.locked{
    cursor:default;
}
.stream-list p.pic a.locked .quiz-locked{
    display:block;
    padding:0 10px;
    width:100%;
    height:40px;
    line-height:40px;
    background:#c00;
    color:#fff;
    font-size:16px;
    opacity:0.9;
    position:absolute;
    top:20px;
    left:-10px;
    -moz-box-shadow:0 3px 6px #000;-webkit-box-shadow:0 3px 6px #000;box-shadow:0 3px 6px #000;
    -moz-transition-property: top;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.4s;
}
.stream-list p.pic a.locked:hover .quiz-locked{
    top:-40px;
}
.stream-list .quiz-answer{
    position:absolute;
    border:2px solid #f00;
}
.stream-list span.quiz-winner{
    display:block;
    position:absolute;
    top:40px;
    right:20px;
    background:#fff;
    border:1px solid #eee;
    padding:5px;
    text-align:left;
    width:150px;
    overflow:hidden;
    -moz-box-shadow:0 0px 6px #000;-webkit-box-shadow:0 0px 6px #000;box-shadow:0 0px 6px #000;
    -moz-transition-property: right;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: right;
    -webkit-transition-duration: 0.4s;
}
.stream-list p.pic a.locked:hover span.quiz-winner{
    right:-160px;
}
.stream-list span.quiz-winner img{
    float:left;
    margin:0 5px 0 0;
}
.stream-list span.quiz-winner em{
    display:block;
    width:500px;
    color:#333;
}

.connect-tips{
    width:200px;
    height:30px;
    line-height:30px;
    overflow:hidden;
    font-size:14px;
    background:#ffc;
    border:1px solid #EBE9CB;
    text-align:center;
    position:absolute;
    top:-32px;left:500px;
    -moz-box-shadow:0 0 6px #666;-webkit-box-shadow:0 0 6px #666;box-shadow:0 0 6px #666;
}

.library-upload{
    width:500px;
    margin:10px auto 0 auto;
    overflow:hidden;
}
.library-upload p{
    width:100%;
    float:left;
    margin:0 0 15px 0;
    text-align:left;
}
.library-upload label{
    text-align:right;
    display:block;
    width:70px;
    padding:0 20px 0 0px;
    height:20px;
    line-height:20px;
    float:left;
    font-size:14px;
}
.library-upload input[type=text]{
    float:left;
    font-size:14px;
    height:20px;
    line-height:20px;
    width:330px;
}
.library-upload input[type=number]{
    float:left;
    font-size:14px;
    height:20px;
    line-height:20px;
    width:70px;
    margin:0 10px 0 0;
}
.library-upload textarea{
    width:320px;
    padding:5px;
    height:50px;
}
.library-upload .pic{
    text-align:center;
}
.library-upload .pic img{
    width:360px;
    border:1px solid #eee;
    padding:4px;
}
.library-upload .opt{
    clear:both;
    text-align:center;
    position:relative;
    width:400px;
    margin:0 auto 15px auto;
    float:none;
}
.library-upload .delete-bn{
    position:absolute;
    bottom:15px;
    right:0;
}

.library-list .pic{
    width:300px;
    text-align:center;
}
.library-list table{
    width:100%;
}
.library-list th,
.library-list td{
    padding:10px 0;
}
.library-list tr{
    border-bottom:1px dashed #333;
}
.library-list tr.used{
    opacity:0.4;
}
.library-list td .lnk-flat{
    margin:10px 0!important;
}
